.footer {

    &-shell {
        background-color: $lightGray1;
        padding-top: 60px;
        
        @include breakpoint-down(small) {
            padding: 20px 20px 0 20px;
        }
    }

    &-back {
        margin-top: 40px;
        text-align: center;
        padding-bottom: 20px;
        position: relative;

        a {
            color: $darkGray1;
            text-transform: uppercase;
            transition: opacity .3s;


            &::after {
                content: '';
                background: url(https://cdn.shopify.com/s/files/1/0076/8747/1170/t/97/assets/icon-angle@2x.png?v=12070413865707156474) no-repeat 0 0;
                background-size: 100% 100%;
                position: absolute;
                top: -20px;
                width: 15px;
                height: 8px;
                display: inline-block;
                left: 50%;
                transform: translateX(-50%);
            }

            &:hover {
                text-decoration: underline;
                opacity: .7;
            }
        }
    }

    &-content{
        padding-bottom: 60px;
        display: flex;

        @include breakpoint-down(small) {
            flex-direction: column;
        }
        .footer-left {
            flex: 3 2 200px;
        
            .left-inner {
                padding-left: 60px;


                .logo {
                    display: inline-block;
                    width: 160px;
                    img {
                        width: 100%;
                    }
                }

                .socials {
                    display: flex;
                    padding-top: 15px;
                    li {
                        &:not(:last-child) {
                            padding-right: 36px;
                        }

                        a {
                            font-size: toRem(24);
                            color: $lightGray;
                        }
                    }
                    
                }
            }

            @include breakpoint-down(small) {
                flex: auto;
                text-align: center;

                .left-inner {
                    padding-left: 0;
                    padding-bottom: 40px;
                }

                .socials {
                    justify-content: center;
                }
            }
        }

        .footer-right {
            flex: 1 0 auto;

            .right-inner {
                ul {
                    columns: 100px 2;
                    position: relative;
                    li {
                        a {
                            color: $darkGray1;
                            font-size: toRem(14);

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        &:not(:last-child) {
                            padding-bottom: 10px;
                        }
                    }

                    &::after {
                        content: '';
                        width: 1px;
                        height: 100%;
                        top: 0;
                        left: 40%;
                        position: absolute;
                        background-color: $lightGray;

                        @include breakpoint-down(small) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &-bottom {
        font-size: toRem(12);
        padding-bottom: 10px;
    }
}
