.header {
    background-color: $white;
    position: fixed;
    z-index: 100;
    width: 100%;
    
    &__inner {
        padding: toRem(18) toRem(45); // Pading for left and right
        @include breakpoint-down(medium) {
            padding: toRem(18) toRem(20); // Pading for left and right
        }
        align-items: flex-start;
        flex-wrap: wrap;
        
    }

    // Nav Logo/Brand
    &__logo {
        display: inline-block;
        width: toRem(116);
        transform: translateX(25%);

        @include breakpoint-down(medium) {
            width: toRem(80);
        }

        img {
            width: 100%;
        }
    }
    &__nav {
        // Hambuger icon
        &-hamburger > span {
            display: block;
            width: 27px;
            height: 2px;
            background-color: $lightGray;

            &:not(:last-child) {
                margin-bottom: 7px;
            }
            
            @include breakpoint-down(medium) {
                width: 20px;
                &:not(:last-child) {
                    margin-bottom: 4.5px;
                }
                
            }
        }
        // Right icons user and cart
        &-right {
            a {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 30px;

                    @include breakpoint-down(medium) {
                        margin-right: 14px;
                    }
                }
                img {
                    width: 24px;
                    height: 24px;
                    
                    @include breakpoint-down(medium) {
                        width: 20px;
                        height: 20px;

                    }
                }
            }
        }
        // Navigation
        &-wrapper {
            // display: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 200;
            -webkit-overflow-scrolling: touch;
            transform: translateX(-100%);
            visibility: hidden;
            transition: all .3s ease .1s;


            &.showLeft {
                transform: translateX(0);
                visibility: visible;
                overflow-y: scroll;
            }
        }

        &-main {
            max-width: 320px;
            background-color: $white;
            // Content for Left side navigation
            .content {
                padding: toRem(25) toRem(40) toRem(76.8) toRem(40);
                @include breakpoint-down(medium) {
                    padding: toRem(15) toRem(20) toRem(70) toRem(20);
                }

                 .menu-access li {

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }

                    // Navigation Order & Login Button
                    a {
                        display: block;
                        width: 100%;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: toRem(15);
                        font-weight: 700;
                        padding: 20px 0;
                        transition: color .5s ease-in-out, 
                        background .5s ease-in-out,border-color .5s ease-in-out,opacity .5s ease-in-out;

                        &.linkDark {
                            background-color: $darkGray;
                            color: $white;

                            &:hover {
                                background-color: $black;
                            }
                        }

                        &.light {
                            background-color: $lighterGray;
                            color: $lightGray;

                            &:hover {
                                background-color: $black;
                                color: $white;
                            }
                        }
                    }
                 }

                //  Navigation links
                .navigation {
                    padding-top: 20px;
                    @include breakpoint-down(medium) {
                        padding-top: 25px;

                    }
                    // Navigation Heading = TOP
                    h4 {
                        font-size: toRem(22);
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 5px;
                        a {
                            color: $lightGray;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    ul {
                        padding-left: 20px;
                        li {
                            margin-top: 30px;
                        }
                        // Navigation Main Links
                        a {
                            font-size: toRem(15);
                            font-weight: 700;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            color: $lightGray;
                            transition: color .5s ease-in-out, 
                            background .5s ease-in-out,border-color .5s ease-in-out,opacity .5s ease-in-out;

                            &:hover {
                                color: $black;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            } // Content

            // Footer
            .footer {
                background-color: $lightGray1;
                padding: 41px 40px 40px 40px;
                
                font-size: toRem(13);
                @include breakpoint-down(medium) {
                    padding: 41px 35px 40px 35px;
                    // font-size: toRem(14);
                }

                &__links {
                    padding-bottom: 70px;
                    ul  li {
                        // Footer Links
                        a {
                            font-weight: 500;
                            letter-spacing: 2px;
                            color: $darkGray;
                            transition: color .5s ease-in-out, 
                            background .5s ease-in-out,border-color .5s ease-in-out,opacity .5s ease-in-out;

                            &:hover {
                                color: $black;
                                text-decoration: underline;
                            }
                        }
                        &:not(:last-child) {
                            padding-bottom: 15px;
                        }
                    }
                }

                &__logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 20px;
                }

                &__socials {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    ul {
                        width: 50%;
                        display: flex;
                        justify-content: space-around;

                        li a {
                            color: $lightGray;
                            font-size: toRem(24);
                            transition: color .5s ease-in-out, 
                            background .5s ease-in-out,border-color .5s ease-in-out,opacity .5s ease-in-out;

                            &:hover {
                                color: $black;
                            }
                        }
                    }
                }
            }
        } // header__nav-main
    } // header__nav

    .outer-overlay {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        // opacity: .75;
        background-color: rgba($color: $black, $alpha: .75);
        cursor: default;
        z-index: 200;

        .close-button {
            width: 100%;
            height: 100%;
            position: relative;

            span {
                position: absolute;
                top: 50px;
                left: 355px;
                width: 27px;
                height: 2px;
                background-color: $white;
                transform-origin: 13px 1px;

                @include breakpoint-down(medium) {
                    left: 335px;
                }
    
                &:hover{
                    cursor: pointer;
                }
    
                &:not(:last-child) {
                    margin-bottom: 7px;
                }
    
                &:first-child {
                    transform: rotate(45deg);
                }
    
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }
} // Header

