.header {
    background-color: $white;
    position: fixed;
    z-index: 100;
    width: 100%;
    
    &__inner {
        padding: toRem(18) toRem(45); // Pading for left and right
        align-items: flex-start;
    }

    // Nav Logo/Brand
    &__logo {
        display: inline-block;
        width: toRem(116);

        img {
            width: 100%;
        }
    }

    &__nav {
        // Hambuger icon
        &-hamburger > span {
            display: block;
            width: 27px;
            height: 2px;
            background-color: $lightGray;

            &:not(:last-child) {
                margin-bottom: 7px;
            }
        }
        // Right icons user and cart
        &-right {
            a {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 30px;
                }
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        // Navigation
        &-wrapper {
            // display: none;
            position: absolute;
            top: 0;
            left: 0;
            max-height: 100vh;
            max-width: 340px;
            border: 1px solid $lightGray;
            background-color: $white;
            z-index: 200;
            overflow-y: scroll; // For scrolling


            .content {
                padding: toRem(25) toRem(40) toRem(60) toRem(40);

                 .menu-access li {

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }

                    // Navigation Order & Login Button
                    a {
                        display: block;
                        width: 100%;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: toRem(15);
                        font-weight: 700;
                        padding: 20px 0;
                        transition: color .5s ease-in-out, 
                        background .5s ease-in-out,border-color .5s ease-in-out,opacity .5s ease-in-out;

                        &.linkDark {
                            background-color: $darkGray;
                            color: $white;

                            &:hover {
                                background-color: $black;
                            }
                        }

                        &.light {
                            background-color: $lighterGray;
                            color: $lightGray;

                            &:hover {
                                background-color: $black;
                                color: $white;
                            }
                        }
                    }
                 }

                //  Navigation links
                .navigation {
                    padding-top: 20px;
                    // Navigation Heading = TOP
                    h4 {
                        font-size: toRem(22);
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 5px;
                        a {
                            color: $lightGray;
                        }
                    }

                    ul {
                        padding-left: 20px;
                        li {
                            margin-top: 30px;
                        }

                        // Navigation Main Links
                        a {
                            font-size: toRem(18);
                            font-weight: 400;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            color: $lightGray;
                            transition: color .5s ease-in-out, 
                            background .5s ease-in-out,border-color .5s ease-in-out,opacity .5s ease-in-out;

                            &:hover {
                                color: $black;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            // Footer
            .footer {
                background-color: $lightGray1;
                padding: 41px 40px 40px 40px;
                font-size: toRem(13);

                &__links {
                    padding-bottom: 70px;
                    ul  li {
                        // Footer Links
                        a {
                            font-weight: 500;
                            letter-spacing: 2px;
                            color: $darkGray;
                            transition: color .5s ease-in-out, 
                            background .5s ease-in-out,border-color .5s ease-in-out,opacity .5s ease-in-out;

                            &:hover {
                                color: $black;
                                text-decoration: underline;
                            }
                        }
                        &:not(:last-child) {
                            padding-bottom: 15px;
                        }
                    }
                }

                &__logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 20px;
                }

                &__socials {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    ul {
                        width: 50%;
                        display: flex;
                        justify-content: space-around;

                        li a {
                            color: $lightGray;
                            font-size: toRem(24);
                            transition: color .5s ease-in-out, 
                            background .5s ease-in-out,border-color .5s ease-in-out,opacity .5s ease-in-out;

                            &:hover {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
}