.header {

    background-color: $white;
    position: fixed;
    z-index: 999;
    width: 100%;
    
    &__inner {
        padding: toRem(18) toRem(45); // Pading for left and right
        align-items: flex-start;
    }

    // Nav Logo/Brand
    &__logo {
        display: inline-block;
        width: toRem(116);

        img {
            width: 100%;
        }
    }

    &__nav {
        // Hambuger icon
        &-hamburger > span {
            display: block;
            width: 27px;
            height: 2px;
            background-color: $lightGray;

            &:not(:last-child) {
                margin-bottom: 7px;
            }
        }
        // Right icons user and cart
        &-right {
            a {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 30px;
                }
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        // Navigation
        &-wrapper {
            height: 100vh;
            border: 1px solid $lightGray;

            .content {
                padding: 41px 40px 40px 40px;
                width: 250px;

                 .menu-access li {

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }

                    a {
                        display: block;
                        width: 100%;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: toRem(15);
                        font-weight: 700;
                        padding: 20px 0;
                        transition: color .5s ease-in-out, 
                        background .5s ease-in-out,border-color .5s ease-in-out,opacity .5s ease-in-out;

                        &.linkDark {
                            background-color: $black;
                            color: $white;
                        }

                        &.light {
                            background-color: $lighterGray;
                            color: $lightGray;

                            &:hover {
                                background-color: $black;
                                color: $white;
                            }
                        }
                    }
                 }
            }
        }
    }
    

    


}